/*///////////////////////////////////////////////////////////////////////////////////////
 //
 //  File:          components.less
 //  Description:   Components
 //
 //////////////////////////////////////////////////////////////////////////////////////*/


////Search BP////
.modal-search-bp {
  width: 480px;
  .modal-body {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 0;
  }
}

.search-bp-filter {
  position: relative;
  .controls > input {
    width: 347px;
  }
  .btn-search-bp {
    position: absolute;
    right: 15px;
    top: 60px;
    .size(45px, 82px);
    background: transparent url(../../img/site/btn-search-bp.png) 0 0 no-repeat;
    cursor: pointer;
    border: none;
  }
  .combobox-wrap input {
    width: 320px;
  }
  border-bottom: 1px solid #ddd;
  #gradient.vertical(#fff, #eee);
  padding: 15px;
}

.search-bp-result {
  clear: both;
  height: 180px;
  overflow: auto;
  padding: 0px 0 0 15px;
}




////Search Contact////
.modal-search-contact {
  width: 480px;
  .modal-body {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 0;
  }
}

.search-contact-filter {
  position: relative;
  .controls > input {
    width: 347px;
  }
  .btn-search-contact {
    position: absolute;
    right: 15px;
    top: 23px;
    .size(45px, 49px);
    background: transparent url(../../img/site/btn-search-contact.png) 0 0 no-repeat;
    cursor: pointer;
    border: none;
  }
  .combobox-wrap input {
    width: 320px;
  }
  border-bottom: 1px solid #ddd;
  #gradient.vertical(#fff, #eee);
  padding: 15px;
}

.search-contact-result {
  clear: both;
  height: 180px;
  overflow: auto;
  padding: 0px 0 0 15px;
}





////Upload////
.upload-thumbnails {
  .upload-thumbnail {
    border: 1px dotted #ccc;
    position: relative;
    word-break:break-all;
    >.icon-remove {
      cursor: pointer;
      position: absolute;
      right: 0px;
      top: 0px;
      .opacity(80);
      &:hover {
        .opacity(100);
      }
    }
  }
  &.readonly {
    .upload-thumbnail {
      border: none;
    }
    .icon-remove {
      display: none!important;
    }
  }
}

.upload-text-links {
  .upload-text-link {
    position: relative;
    padding-left: 18px;
    >.icon-remove {
      cursor: pointer;
      position: absolute;
      left: 0px;
      top: 0px;
      .opacity(80);
      &:hover {
        .opacity(100);
      }
    }
  }
  &.readonly {
    .upload-text-link {
      border: none;
    }
    .icon-remove {
      display: none!important;
    }
  }
}

.upload-form-progress {
  .size(128px, 15px);
  margin: 10px 0;
  background: transparent url(../../img/global/upload-in-progress.gif) 0 0 no-repeat;
}

.btn-search-bp,
.btn-search-contact {
  .size(20px, 20px);
  background: transparent url(../../img/icons/icon-search.png) 0 0 no-repeat;
  .inline-block;
  position: relative;
  top: 4px;
  margin: 0 4px;
}

