/*///////////////////////////////////////////////////////////////////////////////////////
 //
 //  File:          components.less
 //  Description:   Components
 //
 //////////////////////////////////////////////////////////////////////////////////////*/


////Search BP////
.modal-search-bp {
  width: 480px;
  .modal-body {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 0;
  }
}

.search-bp-filter {
  position: relative;
  .btn-search-bp {
    position: absolute;
    right: 15px;
    top: 60px;
    .size(45px, 82px);
    background: transparent url(../../img/site/btn-search-bp.png) 0 0 no-repeat;
    cursor: pointer;
    border: none;
  }
  .combobox-wrap input {
    width: 320px;
  }
  border-bottom: 1px solid #ddd;
  #gradient.vertical(#fff, #eee);
  padding: 15px;
}

.search-bp-result {
  clear: both;
  height: 180px;
  overflow: auto;
  padding: 0px 0 0 15px;
}




////Search Contact////
.modal-search-contact {
  width: 480px;
  .modal-body {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 0;
  }
}

.search-contact-filter {
  position: relative;
  .btn-search-contact {
    position: absolute;
    right: 15px;
    top: 23px;
    .size(45px, 49px);
    background: transparent url(../../img/site/btn-search-contact.png) 0 0 no-repeat;
    cursor: pointer;
    border: none;
  }
  .combobox-wrap input {
    width: 320px;
  }
  border-bottom: 1px solid #ddd;
  #gradient.vertical(#fff, #eee);
  padding: 15px;
}

.search-contact-result {
  clear: both;
  height: 180px;
  overflow: auto;
  padding: 0px 0 0 15px;
}



