/*///////////////////////////////////////////////////////////////////////////////////////
 //
 //  File:          customize.less
 //  Description:   Product customize
 //
 //////////////////////////////////////////////////////////////////////////////////////*/

////Customize////
.customize {
  clear: both;
  > .hd {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0px 1px 3px #ddd;
  }
  > .bd {
    margin: 15px 0;
    > .main {
      width: 740px;
      float: left;
    }
    > .side {
      width: 210px;
      float: right;
    }
  }
}

////Customize Guide////
.customize-guide {
  padding: 5px 8px;
  .nav {
    margin: 0;
  }
  a, a:hover {
    color: #222;
  }
  .nav-pills li.active a {
    background-color: #ddd;
    .bold;
    color: #222;
  }
}

////Customize Selection////
.customize-selection {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 15px;
  &.active {
    border: 1px solid #bbb;
    box-shadow: 0px 2px 3px #ccc;
  }
  > .hd {
    font-size: 18px;
    color: #999;
    .bold();
    margin-bottom: 4px;
  }
  h5 {
    font-size: 14px;
    font-weight: 700;
    background: #eee;
    margin: 10px 0;
    padding: 3px 6px;
    border-radius: 3px;
    color: #222;
  }
  .expandable {
    display: none;
  }
}

.customize-review-overview {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 15px;
  h5 {
    font-size: 14px;
    font-weight: 700;
    background: #eee;
    margin: 10px 0;
    padding: 3px 6px;
    border-radius: 3px;
    color: #222;
  }
}

.customize-review-details {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 15px;
  > .bd > .item {
    margin-bottom: 25px;
  }
  .expandable {
    display: none;
  }
}


////Price Table////
table.price-table {
  
}

.price-table td {
  padding: 3px 5px;
}

.price-table th {
  padding: 3px 5px;
  font-size: 11px;
}

////Editable////
.editable,
.editable-select {
  .inline-block;
  min-width: 60px;
  padding: 1px;
  color: #666;
  &:hover {
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}

.editable-textarea {
  padding: 1px;
  color: #666;
  form {
    margin: 0;
    padding: 0;
  }
  textarea {
    margin: 0;
  }
  &:hover {
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}

.editable.small form{
  margin: 0;
  padding: 0;
}

.editable.small input{
  width: 60px;
}

.editable.medium input{
  width: 120px;
}

.editable.large input{
  width: 180px;
}

.editable.larger input{
  width: 240px;
}

.editable-textarea textarea{
  width: 100%;
  min-height: 80px;
}



////Multiple Select////
.multiple-select {
  .select-item {
    position: relative;
    i.icon-checkbox-m {
      position: absolute;
      top: 6px;
      left: 6px;
      display: none;
    }
    &.checked {
      i.icon-checkbox-m {
        .inline-block();
      }
    }
  }
}

.single-select {
  .select-item {
    position: relative;
    i.icon-radio-m {
      position: absolute;
      top: 6px;
      left: 6px;
      display: none;
    }
    &.checked {
      i.icon-radio-m {
        .inline-block();
      }
    }
  }
}