/*///////////////////////////////////////////////////////////////////////////////////////
 //
 //  File:          customize.less
 //  Description:   Product customize
 //
 //////////////////////////////////////////////////////////////////////////////////////*/

////Customize////
.customize {
  clear: both;
  > .hd {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0px 1px 3px #ddd;
  }
  > .bd {
    margin: 15px 0;
    > .main {
      width: 740px;
      float: left;
    }
    > .side {
      width: 210px;
      float: right;
    }
  }
}

////Customize Guide////
.customize-guide {
  padding: 5px 8px;
  .nav {
    margin: 0;
  }
  a, a:hover {
    color: #222;
  }
  .nav-pills li.active a {
    background-color: #ddd;
    .bold;
    color: #222;
  }
}

////Customize Selection////
.customize-selection {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 15px;
  &.active {
    border: 1px solid #bbb;
    box-shadow: 0px 2px 3px #ccc;
  }
  > .hd {
    font-size: 18px;
    color: #999;
    .bold();
    margin-bottom: 4px;
  }
  h5 {
    font-size: 14px;
    font-weight: 700;
    background: #eee;
    margin: 10px 0;
    padding: 3px 6px;
    border-radius: 3px;
    color: #222;
  }
  .expandable {
    display: none;
  }
}

.customize-review-overview {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 15px;
  position: relative;
  h5 {
    font-size: 14px;
    font-weight: 700;
    background: #eee;
    margin: 10px 0;
    padding: 3px 6px;
    border-radius: 3px;
    color: #222;
  }
  .edit {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
  }
  &:hover .edit {
    display: inline;
  }
}

.customize-review-details {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 15px;
  > .bd > .item {
    margin-bottom: 25px;
    position: relative;
  }
  > .bd > .item .edit{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  .expandable {
    display: none;
  }
  > .bd > .item:hover .edit{
    display: inline;
  }
}

.customize-summary {
  li {
    clear: both;
  }
  li > img {
    margin: 0 4px 4px 0;
    border: 1px solid #ddd;
  }
}

////Price Table////
table.price-table {
  
}

.price-table td {
  padding: 3px 5px;
}

.price-table th {
  padding: 3px 5px;
  font-size: 11px;
}


////Multiple Select////
.multiple-select {
  .select-item {
    position: relative;
    i.icon-checkbox-m {
      position: absolute;
      top: 6px;
      left: 6px;
      display: none;
    }
    &.checked {
      i.icon-checkbox-m {
        .inline-block();
      }
    }
  }
}

.single-select {
  .select-item {
    position: relative;
    i.icon-radio-m {
      position: absolute;
      top: 6px;
      left: 6px;
      display: none;
    }
    &.checked {
      i.icon-radio-m {
        .inline-block();
      }
    }
  }
}



////Edit////
.customize.on-edit {
  
}

.customize.on-edit {
  
}

.job-edit-section {
  border-bottom: 1
}


.job-edit {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0;
  .job-edit-section {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    > h3 {
      color: #888;
      margin-bottom: 8px;
    }
  }
}