/*///////////////////////////////////////////////////////////////////////////////////////
 //
 //  File:          shopping-cart.less
 //  Description:   Shopping cart
 //
 //////////////////////////////////////////////////////////////////////////////////////*/

////Customize////
.order {
  clear: both;
  > .hd {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0px 1px 3px #ddd;
  }
  > .bd {
    margin: 15px 0;
    > .main {
      width: 740px;
      float: left;
    }
    > .side {
      width: 210px;
      float: right;
    }
  }
}

////Customize Guide////

.order-guide {
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 8px;
  #gradient > .vertical(#fff, #eee);
  .nav {
    margin: 0;
  }
  a, a:hover {
    color: #222;
  }
  .nav-pills li.active a {
    background-color: #ddd;
    .bold;
    color: #222;
  }
}

.order-form {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0;
  > section {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    > h3 {
      color: #888;
      margin-bottom: 8px;
    }
  }
}

//Job summary
.job-summary {
  li {
    clear: both;
  }
  li > img {
    margin: 0 4px 4px 0;
    border: 1px solid #ddd;
  }
}

