/*///////////////////////////////////////////////////////////////////////////////////////
 //
 //  File:          themes.css
 //  Images:        
 //  Dependencies:  bootstrap.css
 //  Description:   
 //
 //////////////////////////////////////////////////////////////////////////////////////*/

.theme-black .mod-cate ul li:hover,
.theme-blue .mod-cate ul li:hover,
.theme-deepblue .mod-cate ul li:hover,
.theme-green .mod-cate ul li:hover,
.theme-red .mod-cate ul li:hover,
.theme-yellow .mod-cate ul li:hover{ background:#f3f3f3;}


/*===================================
 Theme: Black
 ==================================*/

.theme-black a,
.theme-black a:hover,
.theme-black .mod-cate ul li a:hover{
	color: #7A7A00;
}
.theme-black .mod-nav li {
	border-left-color: #4e4e4e;
	border-right-color: #b0b0b0;
}
.theme-black .mod-nav-l,
.theme-black .mod-nav-c,
.theme-black .mod-nav-r,
.theme-black .mod-nav li.on a,
.theme-black .mod-nav-search,
.theme-black .mod-nav-search-btn,
.theme-black .mod-cate h3,
.theme-black .mod-cate ul li,
.theme-black .btn-deep,
.theme-black .btn-deep span,
.theme-black .btn-light,
.theme-black .btn-light span,
.theme-black .go-back,
.theme-black .top-page,
.theme-black .mod-catelist-imgview ul li a:hover img,
.theme-black .mod-prolist-paged-bd ul li.list-category a:hover img{
	background-image: url(../../_imgs/nor/theme-black.png);
}

.theme-black .bp-roleUl li.hover, 
.bp-roleUl li:hover{ background:#7a7a00; color:#fff;}

.theme-black .mod-product-viewer ul li a:hover, 
.theme-black .mod-product-viewer ul li.current a,
.theme-black .mod-recent-viewed ul li a:hover img,
.theme-black .mod-selected-options ul li a:first-child:hover img,
.theme-black .mod-prolist-paged ul li a:hover img,
.theme-black .mod-cate ul .extendable:hover .hover,
.theme-black .mod-cate ul .extendable .mod-sub-cate{ border-color:#7a7a00;}

.theme-black .mod-prolist-paged-bd ul li.list-category a:first-child:hover{ outline:0;}

.theme-black .mod-prolist-paged ul li a:first-child:hover,
.theme-black .mod-eflyerlist-paged ul li a:first-child:hover,
.theme-black .mod-promo-list ul li a:hover img{outline:4px solid #7a7a00;}

.theme-black .product-info-bd li.current, 
.theme-black .product-info-bd li:hover{ outline:2px solid #7a7a00;}
/*===================================
 Theme: Blue
 ==================================*/
.theme-blue a,
.theme-blue a:hover,
.theme-blue .mod-cate ul li a:hover{
	color: #0352A6;
}
.theme-blue .mod-nav li {
	border-left-color: #022F5F;
	border-right-color: #4E7BA9;
}
.theme-blue .mod-nav-l,
.theme-blue .mod-nav-c,
.theme-blue .mod-nav-r,
.theme-blue .mod-nav li.on a,
.theme-blue .mod-nav-search,
.theme-blue .mod-nav-search-btn,
.theme-blue .mod-cate h3,
.theme-blue .mod-cate ul li,
.theme-blue .btn-deep,
.theme-blue .btn-deep span,
.theme-blue .btn-light,
.theme-blue .btn-light span,
.theme-blue .go-back,
.theme-blue .top-page,
.theme-blue .mod-catelist-imgview ul li a:hover img,
.theme-blue .mod-prolist-paged-bd ul li.list-category a:hover img{background-image: url(../../_imgs/nor/theme-blue.png);}

.theme-blue .bp-roleUl li.hover, 
.bp-roleUl li:hover{ background:#0352A6; color:#fff;}

.theme-blue .mod-cate ul .extendable:hover .hover,
.theme-blue .mod-cate ul .extendable .mod-sub-cate,
.theme-blue .mod-prolist-paged ul li a:hover img,
.theme-blue .mod-product-viewer ul li a:hover,
.theme-blue .mod-product-viewer ul li.current a,
.theme-blue .mod-recent-viewed ul li a:hover img,
.theme-blue .mod-selected-options ul li a:first-child:hover img{border-color:#0352A6;}

.theme-blue .mod-prolist-paged-bd ul li.list-category a:first-child:hover{ outline:0;}

.theme-blue .mod-prolist-paged ul li a:first-child:hover,
.theme-blue .mod-eflyerlist-paged ul li a:first-child:hover,
.theme-blue .mod-promo-list ul li a:hover img{outline:4px solid #0352A6;}

.theme-blue .product-info-bd li.current, 
.theme-blue .product-info-bd li:hover{ outline:2px solid #0352A6;}
/*===================================
 Theme: Deep Blue
 ==================================*/
.theme-deepblue a,
.theme-deepblue a:hover,
.theme-deepblue .mod-cate ul li a:hover {
	color: #003C76;
}
.theme-deepblue .mod-nav li {
	border-left-color: #022F5F;
	border-right-color: #4E7BA9;
}
.theme-deepblue .mod-nav-l,
.theme-deepblue .mod-nav-c,
.theme-deepblue .mod-nav-r,
.theme-deepblue .mod-nav li.on a,
.theme-deepblue .mod-nav-search,
.theme-deepblue .mod-nav-search-btn,
.theme-deepblue .mod-cate h3,
.theme-deepblue .mod-cate ul li,
.theme-deepblue .btn-deep,
.theme-deepblue .btn-deep span,
.theme-deepblue .btn-light,
.theme-deepblue .btn-light span,
.theme-deepblue .go-back,
.theme-deepblue .top-page,
.theme-deepblue .mod-catelist-imgview ul li a:hover img,
.theme-deepblue .mod-prolist-paged-bd ul li.list-category a:hover img{background-image: url(../../_imgs/nor/theme-deepblue.png);}

.theme-deepblue .bp-roleUl li.hover, 
.bp-roleUl li:hover{ background:#003C76; color:#fff;}

.theme-deepblue .mod-cate ul .extendable:hover .hover,
.theme-deepblue .mod-cate ul .extendable .mod-sub-cate,
.theme-deepblue .mod-prolist-paged ul li a:hover img,
.theme-deepblue .mod-product-viewer ul li a:hover,
.theme-deepblue .mod-product-viewer ul li.current a,
.theme-deepblue .mod-recent-viewed ul li a:hover img,
.theme-deepblue .mod-selected-options ul li a:first-child:hover img{border-color:#003C76;}

.theme-deepblue .mod-prolist-paged-bd ul li.list-category a:first-child:hover{ outline:0;}

.theme-deepblue .mod-prolist-paged ul li a:first-child:hover,
.theme-deepblue .mod-eflyerlist-paged ul li a:first-child:hover,
.theme-deepblue .mod-promo-list ul li a:hover img{outline:4px solid #003C76;}

.theme-deepblue .product-info-bd li.current, 
.theme-deepblue .product-info-bd li:hover{ outline:2px solid #003C76;}

/*===================================
 Theme: Green
 ==================================*/
.theme-green a,
.theme-green a:hover,
.theme-green .mod-cate ul li a:hover {
	color: #298213;
}
.theme-green .mod-nav li {
	border-left-color: #267713;
	border-right-color: #7CB86F;
}

.theme-green .mod-nav-l,
.theme-green .mod-nav-c,
.theme-green .mod-nav-r,
.theme-green .mod-nav li.on a,
.theme-green .mod-nav-search,
.theme-green .mod-nav-search-btn,
.theme-green .mod-cate h3,
.theme-green .mod-cate ul li,
.theme-green .btn-deep,
.theme-green .btn-deep span,
.theme-green .btn-light,
.theme-green .btn-light span,
.theme-green .go-back,
.theme-green .top-page,
.theme-green .mod-catelist-imgview ul li a:hover img,
.theme-green .mod-prolist-paged-bd ul li.list-category a:hover img{background-image: url(../../_imgs/nor/theme-green.png);}

.theme-green .bp-roleUl li.hover, 
.bp-roleUl li:hover{ background:#298213; color:#fff;}

.theme-green .mod-cate ul .extendable:hover .hover,
.theme-green .mod-cate ul .extendable .mod-sub-cate,
.theme-green .mod-prolist-paged ul li a:hover img,
.theme-green .mod-product-viewer ul li a:hover,
.theme-green .mod-product-viewer ul li.current a,
.theme-green .mod-recent-viewed ul li a:hover img,
.theme-green .mod-selected-options ul li a:first-child:hover img{border-color:#298213;}

.theme-green .mod-prolist-paged-bd ul li.list-category a:first-child:hover{ outline:0;}

.theme-green .mod-prolist-paged ul li a:first-child:hover,
.theme-green .mod-eflyerlist-paged ul li a:first-child:hover,
.theme-green .mod-promo-list ul li a:hover img{outline:4px solid #298213;}

.theme-green .product-info-bd li.current, 
.theme-green .product-info-bd li:hover{ outline:2px solid #298213;}

/*===================================
 Theme: Red
 ==================================*/
.theme-red a,
.theme-red a:hover,
.theme-red .mod-cate ul li a:hover {
	color: #CD5315;
}
.theme-red .mod-nav li {
	border-left-color: #7D3103;
	border-right-color: #C78566;
}
.theme-red .mod-nav-l,
.theme-red .mod-nav-c,
.theme-red .mod-nav-r,
.theme-red .mod-nav li.on a,
.theme-red .mod-nav-search,
.theme-red .mod-nav-search-btn,
.theme-red .mod-cate h3,
.theme-red .mod-cate ul li,
.theme-red .btn-deep,
.theme-red .btn-deep span,
.theme-red .btn-light,
.theme-red .btn-light span,
.theme-red .go-back,
.theme-red .top-page,
.theme-red .mod-catelist-imgview ul li a:hover img,
.theme-red .mod-prolist-paged-bd ul li.list-category a:hover img{background-image: url(../../_imgs/nor/theme-red.png);}

.theme-red .bp-roleUl li.hover, 
.bp-roleUl li:hover{ background:#CD5315; color:#fff;}

.theme-red .mod-cate ul .extendable:hover .hover,
.theme-red .mod-cate ul .extendable .mod-sub-cate,
.theme-red .mod-prolist-paged ul li a:hover img,
.theme-red .mod-product-viewer ul li a:hover,
.theme-red .mod-product-viewer ul li.current a,
.theme-red .mod-recent-viewed ul li a:hover img,
.theme-red .mod-selected-options ul li a:first-child:hover img{border-color:#CD5315;}

.theme-red .mod-prolist-paged-bd ul li.list-category a:first-child:hover{ outline:0;}

.theme-red .mod-prolist-paged ul li a:first-child:hover,
.theme-red .mod-eflyerlist-paged ul li a:first-child:hover,
.theme-red .mod-promo-list ul li a:hover img{outline:4px solid #CD5315;}

.theme-red .product-info-bd li.current, 
.theme-red .product-info-bd li:hover{ outline:2px solid #CD5315;}

/*===================================
 Theme: Yellow
 ==================================*/
.theme-yellow a,
.theme-yellow a:hover,
.theme-yellow .mod-cate ul li a:hover  {
	color: #8D8B00;
}
.theme-yellow .mod-nav li {
	border-left-color: #6D6B1C;
	border-right-color: #B6B376;
}
.theme-yellow .mod-nav-l,
.theme-yellow .mod-nav-c,
.theme-yellow .mod-nav-r,
.theme-yellow .mod-nav li.on a,
.theme-yellow .mod-nav-search,
.theme-yellow .mod-nav-search-btn,
.theme-yellow .mod-cate h3,
.theme-yellow .mod-cate ul li,
.theme-yellow .btn-deep,
.theme-yellow .btn-deep span,
.theme-yellow .btn-light,
.theme-yellow .btn-light span,
.theme-yellow .go-back,
.theme-yellow .top-page,
.theme-yellow .mod-catelist-imgview ul li a:hover img,
.theme-yellow .mod-prolist-paged-bd ul li.list-category a:hover img{background-image: url(../../_imgs/nor/theme-yellow.png);}

.theme-yellow .bp-roleUl li.hover, 
.bp-roleUl li:hover{ background:#8D8B00; color:#fff;}

.theme-yellow .mod-cate ul .extendable:hover .hover,
.theme-yellow .mod-cate ul .extendable .mod-sub-cate,
.theme-yellow .mod-prolist-paged ul li a:hover img,
.theme-yellow .mod-product-viewer ul li a:hover,
.theme-yellow .mod-product-viewer ul li.current a,
.theme-yellow .mod-recent-viewed ul li a:hover img,
.theme-yellow .mod-selected-options ul li a:first-child:hover img{border-color:#8D8B00;}

.theme-yellow .mod-prolist-paged-bd ul li.list-category a:first-child:hover{ outline:0;}

.theme-yellow .mod-prolist-paged ul li a:first-child:hover,
.theme-yellow .mod-eflyerlist-paged ul li a:first-child:hover,
.theme-yellow .mod-promo-list ul li a:hover img{outline:4px solid #8D8B00;}


.theme-yellow .product-info-bd li.current, 
.theme-yellow .product-info-bd li:hover{ outline:2px solid #8D8B00;}