.row-fluid .break-line {
  margin-left: 0!important;
}
.sortable-img-item-placeholder {
  border: 1px dotted #ccc;
  background: #f6f6f6;
}
.filter-list {
  margin: 0;
}
.filter-list li {
  list-style: none;
  float: left;
  margin-right: 10px;
}
