/*///////////////////////////////////////////////////////////////////////////////////////
 //
 //  File:          mockup-edit.less
 //  Description:   
 //
 //////////////////////////////////////////////////////////////////////////////////////*/


.list-hd {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.list-bd {
  > .row-fluid {
    .btn-group {
      display: none;
    }
    &:hover {
      .btn-group {
        .inline-block;
      }
    }
    
  }
}


.filter-alphabet {
  li {
    float: left;
    margin-right: 10px;
  }
}

.bizsocial-list {
  position: relative;
  > .row-fluid {
    color: #666;
    padding: 5px 5px 0 5px;
    &:hover {
      background: #eee;
    }
    &.unread {
      font-weight: 700;
      color: #333;
      a {
        color: #333;
        &:hover {
          color: #005580;
        }
      }
    }
  }
  a {
    color: #666;
    &:hover {
      color: #005580;
    }
  }

  .list-time-filter {
    padding-top: 100px;
    ul > li {
      margin-bottom: 6px;
    }
    ul > li a{
      display: block;
      padding: 10px 0 10px 12px;
      background: url(../../img/admin/list-filter-bar.png) 0 bottom no-repeat;
      &:hover {
        color: #333;
        text-decoration: none;
        background: url(../../img/admin/list-filter-bar.png) 0 0 no-repeat;
      }
      &.active {
        background: url(../../img/admin/list-filter-bar.png) 0 0 no-repeat;
      }
    }
    position: absolute;
    width: 100px;
    right: -130px;
    top: 0px;
  }

}