.sortable-img-item-placeholder {
	border: 1px dotted #ccc;
	background: #f6f6f6;
}

.sortable-img-item {

}

.image-items {
	> li.image-item {
		padding: 2px;
		margin-bottom: 15px;
		.btn-select {
			display: inline;
		}
		.btn-unselect {
			display: none;
		}
		&.selected {
			background: #ccc;
			.btn-select {
				display: none;
			}
			.btn-unselect {
				display: inline;
			}
		}
	}
	&.editing {
		> li {
			background: #368ee0;
		}
		> li .extended {
			display: block;
			position: absolute;
			z-index: 999;
			background: #368ee0;
			left: 0;
			right: 0;

			.pull-right > a {
			  color: #fff;
			  font-size: 16px;
			  padding: 1px 2px;
			  text-decoration: none;
			}
		}
	}
}


.filter-list  {
	margin: 0;
	li {
		list-style: none;
		float: left;
		margin-right: 10px;
	}
	
}




.item-categories {
  list-style-type: none;
  margin: 0;
  *zoom: 1;
}
.item-categories li {
  padding: 0;
  *zoom: 1;
  border-bottom: 1px solid #ccc;
  position: relative;
  .icon-draggable {
  	margin-left: 4px;
  	color: #999;
  }
}
.item-categories li:after {
  content: "";
  display: table;
  clear: both;
}
.item-categories li label, .item-categories li .check {
  float: left;
  padding: 10px 10px 10px 10px;
  margin: 0;
  cursor: pointer;
  border-right: 1px solid #fec5bd;
}
.item-categories li .category {
  float: left;
  padding: 11px 5px 3px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  position: absolute;
  left: 26px;
  right: 50px;
  overflow: hidden;
  font-weight: 700;
}
.item-categories li .category i {
  margin-right: 5px;
}
.item-categories li .category-actions {
  float: right;
  padding: 10px 10px 0 10px;
}
.item-categories li .category-actions > a {
  text-decoration: none;
  color: #888;
  font-size: 16px;
  &:hover {
  	color: #666;
  };
}
.item-categories {
	 > li {
	 	height: 43px;
		line-height: 43px;
	 }
	 .check {
	 	display: none!important;
	 }
	 .category {
	 	padding: 0!important;
	 	text-decoration: none!important;
	 	span {
	 		text-decoration: none!important;
	 	}
	 }
	 .category-actions {
	 	padding: 0 10px!important;
	 }
}

.price-table-edit {
	input, select {
		margin: 0;
	}
	.tcenter {
		text-align: center!important;
	}
}
