.activity-list {
	thead th {
		background: #f9f9f9;
	}
	th > a {
		color: #333;
	}
	tr.checked td {
		background: #fcf8e3;
	}
	tr.unread td {
		font-weight: bold;
	}
	tr td > a {
		color: #333;
		display: block;
		height: 100%;
		width: 100%;
		&:hover {
			text-decoration: none;
		}
	}
	tr td .check-line {
		margin: 0;
	}
	tr td .dropdown-toggle.btn-mini {
		padding-left: 7px;
		padding-right: 7px;
	}
	td.alert-select-all {
		background: #fcf8e3;
		color: #c09853;
		a {
			color: #368ee0;
			display: inline;
		}
		&:hover {
			background: #fcf8e3!important;
			color: #c09853;
		}
	}

	td.separator-read {
		background: #f9f9f9;
		color: #333;
		&:hover {
			background: #f9f9f9!important;
			color: #333;
		}
		div {
			font-weight: bold;
			position: relative;
		}
		hr {
			display: none;
			position: absolute;
			top: 50%;
			width: 92%;
			margin: 0;
			padding: 0;
			height: 0;

			right: -10px;
			border-top: 1px dashed #ccc;
		}
	}
}


.list-actions-container {
	padding: 0!important;
}

.list-actions-bar {
	background: #f9f9f9;
	padding: 10px;
}

.schedule-list {
	thead th {
		background: #f9f9f9;
	}
	tr.checked td {
		background: #fcf8e3;
	}
	td a {
		color: #333;
	}
	td.alert-select-all {
		background: #fcf8e3;
		color: #c09853;
		a {
			color: #368ee0;
			display: inline;
		}
		&:hover {
			background: #fcf8e3!important;
			color: #c09853;
		}
	}
}

.filter-date {
	top: -3px;
	display: inline-block;
	position: relative;
	.filter-date-btn {
		cursor: pointer;
		padding: 5px 10px;
		color: #999;
		background: #fff;
		border: 1px solid #aaa;
		.caret {
			position: relative;
			top: 7px;
			border-top-color: #666;
		}
	}
	.filter-date-dropdown {
		background: #fff;
		border: 1px solid #aaa;
		border-top: 0;
		position: absolute;
		top: 31px;
		padding: 10px;
	}
}