/*///////////////////////////////////////////////////////////////////////////////////////
 //
 //  File:          order.less
 //  Description:   Order
 //
 //////////////////////////////////////////////////////////////////////////////////////*/


.order-list {
  margin-top: 30px;
}

.order-list-filter {
  border: 1px solid #ddd;
  > section {
    padding: 10px;
    background: #f6f6f6;
    border-bottom: 1px solid #ddd;
  }
  a {
    color: #666;
  }
}

.order-list-table {
  margin-top: 20px;
}
