.pms-list {
  
}

.pms {
  .size(80px, 30px);
  .inline-block();
  margin: 0 5px 5px 0;
  padding: 0 10px;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border: 2px solid #fff;
  cursor: pointer;
  &.selected {
    border: 2px solid #F9D15B;
    border-radius: 2px;
  }
}

.pms-186c {
  background: #CE1D2A;
}
